<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<!--
  <p><img
      src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/summer-19-release-live/summer19-realease-thumb.jpg" />
  </p>
  -->
  <p><img
      src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/winter-20-new-features/winter-20-release-thumb.jpg" />
  </p>


</body>

</html>
