<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

<!--
  <p><img
      src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/summer-19-release-live/summer19-realease-thumb.jpg" />
  </p>

  <p><img
      src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/winter-20-new-features/winter-20-release-thumb.jpg" />
  </p>
  <p>
    <img src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/spring-20-release/thumb-spring-2-release.jpg" />
  </p>

  <p>
    <img src="https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/summer-20-sandbox/summer-20-release-preview.jpg" />
  </p>
-->
  <p>
    <img src="https://d3nqfz2gm66yqg.cloudfront.net/images/20200824121444/Winter-21-countdown-708x400.png" />
  </p>


</body>

</html>
